html, body {
  height: 100%;
  background-color: black;
}

.min-100 {
  min-height: 100%;
}

.min-50 {
  min-height: 50%;
}

.selfie {
  border-radius: 50%;
}

.header {
  background-color: #E0E0E0;
}

.main-content {
  background-color: #BCAAA4;
}

.info {
  background: rgb(189, 195, 199);
  background: -moz-linear-gradient(180deg, rgba(189, 195, 199, 1) 0%, rgba(44, 62, 80, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(189, 195, 199, 1) 0%, rgba(44, 62, 80, 1) 100%);
  background: linear-gradient(180deg, rgba(189, 195, 199, 1) 0%, rgba(44, 62, 80, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdc3c7", endColorstr="#2c3e50", GradientType=1);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.projects {
  background: rgb(66, 39, 90);
  background: -moz-linear-gradient(360deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
  background: -webkit-linear-gradient(360deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
  background: linear-gradient(360deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42275a", endColorstr="#734b6d", GradientType=1);
}

.info h2 {
  font-weight: bold;
}

.info .skills {
  font-size: 2rem;
  font-weight: 600;
}

.contact-me {
  background: rgb(0, 4, 40);
  background: -moz-linear-gradient(180deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
  background: linear-gradient(180deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000428", endColorstr="#004e92", GradientType=1);
}

.btn-main {
  background-color: #4DB6AC;
  border-color: #4DB6AC;
}

.parallax {
  /* The image used */
  /* background-image: url("../images/parallax1.jpg"); */
  /* Set a specific height */
  /* height: 800px; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  /* background-image: url("../images/parallax2.png"); */
  /* Set a specific height */
  /* height: 400px; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frontend-skills, 
.backend-skills {
  font-weight: bold;
  font-size: 1.6rem;

}

.menu-img {
  width: 600px;
  background-size: cover;
}

#small-menu .menu-img {
  width: 100%;
  height: auto;
}

.menu-img a {
  width: 100%;
  height: 100%;
}

.menu-img-home {
  background-image: url("../images/main.jpg");
}

.menu-img-info {
  background: rgb(189, 195, 199);
  background: -moz-linear-gradient(360deg, rgba(189, 195, 199, 1) 0%, rgba(44, 62, 80, 1) 100%);
  background: -webkit-linear-gradient(360deg, rgba(189, 195, 199, 1) 0%, rgba(44, 62, 80, 1) 100%);
  background: linear-gradient(360deg, rgba(189, 195, 199, 1) 0%, rgba(44, 62, 80, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdc3c7", endColorstr="#2c3e50", GradientType=1);
}

.menu-img-projects {
  background: rgb(66, 39, 90);
  background: -moz-linear-gradient(360deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
  background: -webkit-linear-gradient(360deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
  background: linear-gradient(360deg, rgba(66, 39, 90, 1) 0%, rgba(115, 75, 109, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42275a", endColorstr="#734b6d", GradientType=1);
}

.menu-img-contacts {
  background: rgb(0, 4, 40);
  background: -moz-linear-gradient(0deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 4, 40, 1) 0%, rgba(0, 78, 146, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000428", endColorstr="#004e92", GradientType=1);
}

#main-menu h2 {
  font-weight: bold;
  font-size: 3rem;
}

.active h2 {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #FFD89B, 0 0 20px #D9C296, 0 0 30px #B2AC90, 0 0 40px #8C968B, 0 0 50px #668086, 0 0 60px #3F6A80, 0 0 70px #19547B;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.pointer {
  cursor: pointer;
}