html, body {
  height: 100%;
  background-color: black;
}

.min-100 {
  min-height: 100%;
}

.min-50 {
  min-height: 50%;
}

.selfie {
  border-radius: 50%;
}

.header {
  background-color: #E0E0E0;
}

.main-content {
  background-color: #BCAAA4;
}

.info {
  background-color: #D1E8E2;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.info h2 {
  font-weight: bold;
}

.info .skills {
  font-size: 2rem;
  font-weight: 600;
}

.contact-me {
  background-color: #CFD8DC;
}

.btn-main {
  background-color: #4DB6AC;
  border-color: #4DB6AC;
}

.parallax {
  /* The image used */
  /* background-image: url("../images/parallax1.jpg"); */
  /* Set a specific height */
  /* height: 800px; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  /* background-image: url("../images/parallax2.png"); */
  /* Set a specific height */
  /* height: 400px; */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-img {
  width: 600px;
  background-size: cover;
}

#small-menu .menu-img {
  width: 100%;
  height: auto;
}

.menu-img a {
  width: 100%;
  height: 100%;
}

.menu-img-home {
  background-image: url("../images/main.jpg");
}

.menu-img-info {
  background-image: url("../images/info.webp");
  background-position: left;
}

.menu-img-projects {
  background-image: url("../images/projects.jpeg");
}

.menu-img-contacts {
  background-image: url("../images/contact.jpg");
}

#main-menu h2 {
  font-weight: bold;
  font-size: 3rem;
}

.active h2 {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #FFD89B, 0 0 20px #D9C296, 0 0 30px #B2AC90, 0 0 40px #8C968B, 0 0 50px #668086, 0 0 60px #3F6A80, 0 0 70px #19547B;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.pointer {
  cursor: pointer;
}